---
layout: base
title: Das Team von ReactJS.DE
header: light
description: Wir sind ein Team aus React-Enthusiasten. Lerne uns hier kennen!
---
<main role="main">
  <div class="c-header c-header-dark header-team d-flex align-items-center mb-5">
    <div class="container">
      <h1 class="align-self-center display-4 text-center">
        Das Team von ReactJS.DE
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% include_relative _team_member.html name="Sebastian Deutsch" %}
      {% include_relative _team_member.html name="Robin Böhm" %}
      {% include_relative _team_member.html name="Britta Lenzen" %}
      {% include_relative _course_ad.html %}
    </div>
  </div>
</div>

</main>
