---
layout: base
title: Das Team von ReactJS.DE
header: light
noindex: true
description: Wir sind ein Team aus React-Enthusiasten. Lerne uns hier kennen!
---

<div class="c-header c-header-dark header-team d-flex align-items-center mb-6">
  <div class="container">
    <h1 class="align-self-center text-center">
      Das Team von ReactJS.DE
    </h1>
  </div>
</div>

<main role="main">
  <div class="container">
    <div class="row">
      {% include_relative _team_member.html name="Sebastian Deutsch" %}
      {% include_relative _team_member.html name="Robin Böhm" %}
      {% include_relative _team_member.html name="Britta Lenzen" %}
      {% include_relative _team_member.html name="Sascha Nuissl" %}
      {% include_relative _team_member.html name="Carina Rettig" %}
      {% include_relative _team_member.html name="André Kovac" %}
      {% include_relative _team_member.html name="Christian Wahler" %}
      {% include_relative _team_member.html name="Erfan Nazmehr" %}
      {% include_relative _team_member.html name="Jan Bussieck" %}
      {% include_relative _team_member.html name="Michael Hoffmann" %}
      {% include_relative _team_member.html name="Pawel Sawicki" %}
      {% include_relative _team_member.html name="Sven Herchenheim" %}
      {% include_relative _team_member.html name="Thomas Scharke" %}
      {% include_relative _team_member.html name="Wojtek Gorecki" %}
      {% include_relative _cooperation.html %}
    </div>
  </div>
</main>
