---
layout: base
<!-- header: light -->
title: Die deutsche Community zum Thema React
description: Alles rund um React/JavaScript auf deutsch - Tutorials · Artikel · News · Schulungen.
permalink: /
---
<div class="header header-homepage d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center justify-content-center gy-3">
      <div class="col-3 col-sm-3">
        <img class="img img-fluid px-xl-4" alt="ReactJS.DE Logo" src="/assets/img/logo.svg">
      </div>
      <div class="col-12 col-sm-9">
        <div class="pe-lg-4 me-lg-4 text-center text-sm-start">
          <p class="lead text-muted">
            Alle Infos zu React auf Deutsch!
          </p>
          <h1 class="header-homepage-title">Alles rund um React</h1>
          <div class="mt-2 mt-md-4">
            <div class="row gy-3">
              <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <a href="/tutorials/" class="btn btn-outline-secondary w-100">Mit einem Tutorial starten &rsaquo;</a>
              </div>
              <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <a href="/schulungen/" class="btn btn-primary w-100">Schulung buchen &rsaquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="container">
  <section class="container my-5">
    <h2>Hier starten! - Tutorials für Einsteiger</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in site.categories.tutorial limit:2 %}
      <div class="col">
        {% include shared/_post_card.html %}
      </div>
      {% endfor %}
    </div>
  </div>

  <section class="my-5">
    <h2>Die neuesten Artikel</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in site.posts limit:6 %}
      <div class="col">
        {% include shared/_post_card.html %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>

