---
layout: base
<!-- header: light -->
title: Die deutsche Community zum Thema React
description: Alles rund um React/JavaScript auf deutsch - Tutorials · Artikel · News · Schulungen.
permalink: /
---
<div class="header header-homepage d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-3 col-sm-3 text-center mx-auto my-auto">
        <img class="img img-fluid px-xl-4" alt="ReactJS.DE Logo" src="/assets/img/logo.svg">
      </div>
      <div class="col-sm-9 pt-3">
        <div class="pe-lg-4 me-lg-4">
          <p class="lead align-self-center text-muted">
            Alle Infos zu React auf Deutsch!
          </p>
          <h1 class="header-homepage-title">Alles rund um React</h1>
          <p class="pt-2 pt-md-4">
            <a href="/tutorials/" class="btn btn-outline-secondary me-2">Mit einem Tutorial starten &rsaquo;</a>
            <a href="/schulungen/" class="btn btn-primary">Schulung buchen &rsaquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="container">
  <section class="container py-5">
    <h2>Hier starten! - Tutorials für Einsteiger</h2>
    <div class="row mb-4">
      {% for post in site.categories.tutorial limit:2 %}
      <div class="col-sm-6 col-md-4 col-lg-6 mb-4">
        {% include _post_card.html %}
      </div>
      {% endfor %}
    </div>
  </div>

  <section class="py-5">
    <h2>Die neuesten Artikel</h2>
    <div class="row">
      {% for post in site.posts limit:6 %}
      <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
        {% include _post_card.html %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>

