title: ReactJS.DE
description: ""
topic: React
url: "https://reactjs.de"
twitter_username: reactjs_de
github_username:  jekyll
ga_property: "UA-97181121-5"
gtm_property: "GTM-NHL7XVK"
utm_source: "reactjs_de"
permalink: /artikel/:slug/
repository_url: "https://github.com/symetics/reactjs.de"

navigation:
  banner:
    message: "10% Rabatt auf alle Workshops.DE Schulungen mit dem Code: <b>REACTJSDE10</b>"
    href: "https://workshops.de/schulungsthemen/react?utm_source=reactjs_de&utm_campaign=portal-discount&utm_medium=banner&utm_content=workshops-overview"

plugins_dir: ["_plugins/", "shared/plugins/"]

collections:
  pages:
    output: true
    permalink: /:name/

defaults:
  - scope:
      path: "_posts" # an empty string here means all files in the project
    values:
      layout: "post"
      header_image: "header.jpg"
      toc: true
      language: "de"
  - scope:
      path:            "_posts/**/*.html"
    values:
      sitemap:         false
  - scope:
      path: "_pages" # an empty string here means all files in the project
    values:
      layout: "page"

pagination:
  enabled: true
  per_page: 5
  permalink: '/seite/:num/'
  title: ':title - Seite :num von :max'
  limit: 0
  sort_field: 'date'
  sort_reverse: true

# Build settings
markdown: kramdown
sass:
  style: :compressed
  sass_dir: assets/css
  sourcemap: never
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate-v2
exclude:
  - Gemfile
  - Gemfile.lock
  - Dockerfile
  - .gitignore
  - nginx.conf
  - cloudbuild.yaml
  - firebase-debug.log

# webrick:
#   headers:
#     Content-Security-Policy: "style-src 'self'"
