<footer class="mt-5">
  <div class="container">
    <div class="row text-muted">
      <div class="col-sm-3 mb-2">
        <div class="h4 text-muted mb-2">ReactJS.DE</div>
        <small>
          Copyright © Symetics {{ site.time | date: '%Y' }}.<br>
          Alle Rechte vorbehalten.
        </small>
      </div>
      <div class="col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Seiten</div>
        <ul class="list-unstyled">
          <li><a href="/artikel/alle/">Alle Artikel</a></li>
          <li><a href="/schulungen/inhouse/">Schulungen</a></li>
          <li><a href="/ueber-uns/">Team</a></li>
        </ul>
      </div>
      <div class="col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Follow us</div>
        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/reactjs_de" target="_blank" rel="noopener">Twitter</a>
          </li>
          <li><a href="/feed.xml" target="_blank">RSS-Feed</a></li>
        </ul>
      </div>
      <div class="col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Rechtliches</div>
        <ul class="list-unstyled">
          <li><a href="/impressum/">Impressum</a></li>
          <li><a href="/datenschutz/">Datenschutz</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
