<nav class="navbar c-navbar-underline c-navbar-{% if page.header %}{{page.header}}{% else %}dark{% endif %} navbar-expand-md">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">ReactJS.DE</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if page.url contains '/artikel' %}active{% endif %}">
          <a class="nav-link" href="/artikel/">Artikel</a>
        </li>
        <li class="nav-item {% if page.url contains '/schulungen' %}active{% endif %}">
          <a class="nav-link" href="/schulungen/inhouse/">Schulungen</a>
        </li>
        <li class="nav-item {% if page.url contains '/team' %}active{% endif %}">
          <a class="nav-link" href="/team/">Team</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item {% if page.url contains '/impressum' %}active{% endif %}">
          <a class="nav-link" href="/impressum/">Impressum</a>
        </li>
        <li class="nav-item {% if page.url contains '/datenschutz' %}active{% endif %}">
          <a class="nav-link" href="/datenschutz/">Datenschutz</a>
        </li>
      </ul>
      <!--<form class="form-inline mr-auto" action="/suche/" method="GET" autocomplete="off">
        <input name="q" class="form-control navbar-search" type="text" placeholder="&#xF002;">
      </form>-->
    </div>
  </div><!-- .container -->
</nav>
