<div class="card shadow-sm card-hover-overlay h-100">
  <a class="img-post"
        style="height: 150px; background-image: url('/artikel/{{post.slug}}/{{ post.header_image }}');"
        href="{{ post.url }}">
  </a>
  <a class="card-body text-dark" href="{{ post.url }}">
    <div class="text-muted">{{ post.author }}</div>
    <span class="font-weight-bold">
    {{ post.title }}
    </span>
  </a>
    <a class="card-img-overlay bg-light-transparent text-dark" href="{{ post.url }}">
      <p class="font-weight-bold">
        {{ post.title }}
      </p>
      {{post.description}}
    </a>
</div>
