
<article class="card c-hover-shadow mb-4">
  <div class="row">
    <div class="col-md-4">
      <a href="{{ post.url }}" class="img-post"
        style="background-image: url('/artikel/{{post.slug}}/{{ post.header_image }}');">
        <span class="sr-only">{{ post.title }}</span>
        <span class="c-post-categories ml-2">
          {% for category in post.categories %}
            <span class="text-uppercase">{{ category }}</span>
            {% unless forloop.last %}<span class="ml-1 mr-1">•</span>{% endunless %}
          {% endfor %}
        </span>
      </a>
    </div>
    <div class="col-md-8">
      <div class="py-4 px-2">
        <h2 class="h3 pb-1 mb-1" style="border-bottom: 1px solid #eee;"><a href="{{ post.url }}">{{post.title}}</a></h2>
        <small class="text-muted">
          {{ post.author }} <span class="ml-1 mr-1">•</span> <time>{{ post.published_at | date: "%d.%m.%Y" }}</time>
          <span class="ml-1 mr-1">|</span>
          {% assign words = post.content | number_of_words %}
          {% if words < 360 %}
            1 Minute
          {% else %}
            {{ words | divided_by:180 }} Minuten
          {% endif %}
        </small>

        <p class="mb-4 mt-3">
          {{post.description}}
        </p>
        <a class="btn btn-secondary btn-sm px-4" href="{{ post.url }}">Artikel <span class="sr-only">{{post.title}}</span> lesen</a>
      </div>
    </div>
  </div>
</article>
