---
layout: base
title: React Intensiv-Schulung (3 Tage)
description: Sie möchten Ihre Entwickler in 2 Tagen fit für React machen? Buchen Sie unserer Inhouse-Seminar bei Ihnen vor Ort.
permalink: /schulungen/react-intensiv/
---

<main role="main">
  {% include_relative _header.html %}
  {% include_relative _agenda.html %}
  {% include_relative _clients.html %}

  {% comment %}
    {% include_relative _intro.html %}
    {% include_relative _what.html %}
    {% include_relative _testimonials.html %}
    {% include_relative _why.html %}
    {% include_relative _testimonials_dev.html %}
    {% include_relative _benefits-developer.html %}
    {% include_relative _ratings.html %}
    {% include_relative _trainers.html %}
    {% include_relative _requirements.html %}
    {% include_relative _questions.html %}
    {% include_relative _training-schedule.html %}
  {% endcomment %}

<section id="anfrage" class="copy-section py-6" ad-fader="">
  <script src="https://workshops.de/js/embed.js"></script>
  <div class="container">
    <div class="ws-issue" data-course-id="{{ site.ws_course_id }}"></div>
  </div>
</section>

</main>
