---
layout: base
noindex: true
title: Angular & TypeScript Intensiv-Schulung (3 Tage)
course:
  topic:
  subtitle:
  image_url:
description: Du möchtest React in nur 2 Tagen lernen? Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /schulungen/react-intensiv/
---

<main role="main">
  <!-- {% include_relative _header.html %} -->
  {% include_relative _clients.html %}
  {% include_relative _agenda.html %}
  {% include_relative _agenda.html %}
  <!-- {% include_relative _intro.html %} -->

  <!-- {% include_relative _what.html %} -->

  <!-- {% include_relative _testimonials.html %} -->
  <!-- {% include_relative _why.html %} -->

  <!-- {% include_relative _testimonials_dev.html %} -->
  <!-- {% include_relative _benefits-developer.html %} -->
  <!-- {% include_relative _ratings.html %} -->
  <!-- {% include_relative _trainers.html %} -->
  <!-- {% include_relative _requirements.html %} -->
  <!-- {% include_relative _questions.html %} -->
  <!-- {% include_relative _training-schedule.html %} -->
</main>
