---
layout: base
header: light
title: React Intensiv-Schulung (2 Tage)
description: Sie möchten Ihre Entwickler in 2 Tagen fit für React machen? Buchen Sie unserer Inhouse-Seminar bei Ihnen vor Ort.
permalink: /schulungen/react-intensiv/
---

<main role="main">
  {% include_relative _00_header.html %}
  {% include_relative _05_benefits.html %}
  {% include_relative _10_agenda.html %}
  {% include_relative _20_testimonials.html %}
  {% include_relative _30_clients.html %}
  {% include_relative _40_requirements.html %}
  {% include_relative _99_booking.html %}
</main>
