---
layout: schulungen
header: dark
title: Unsere Schulungen
permalink: /schulungen/
noindex: true
---

<div class="row row-cols-1 row-cols-md-2 | g-4 mb-5">
  {% include_relative _schulung.html
    permalink="react-intensiv"
    title="React & TypeScript"
    subtitle="Intensiv Schulung"
    description="Der beste Weg mit React zu starten! Du hast schon erste Erfahrungen im Web und möchtest möglichst schnell mit React starten ohne selber in alle Anfängerfehler reinzulaufen? Unsere Schulungen machen dich fit für den produktiven Einsatz von React."
    logo="react-typescript"
    pattern="1"
  %}
  {% include_relative _schulung.html
    permalink="react-native-intensiv"
    title="React Native"
    subtitle="Intensiv Schulung"
    description="Der beste Weg mit React Native zu starten! Du möchtest native Anwendungen für Android und iOS mit einer Codebasis entwickeln? In unserer Schulung zeigen wir dir wie schnell und effizient zu deiner Anwendung im AppStore kommst."
    logo="react-native"
    pattern="1"
  %}
  {% include_relative _schulung.html
    external_link="https://workshops.de/seminare-schulungen-kurse/react-native-advanced"
    title="React Native Advanced"
    subtitle="Intensiv Schulung"
    description="Eine starke Vertiefung von React Native gepaart mit fortgeschrittenen React.js und TypeScript Konzepten im Kontext von React Native."
    logo="react-native-advanced"
    pattern="1"
  %}
  {% include_relative _schulung.html
    external_link="https://workshops.de/seminare-schulungen-kurse/javascript"
    title="JavaScript"
    subtitle="Intensiv Schulung"
    description="Steige in 3 Tagen intensiv in JavaScript ein. Auch als Inhouse-Schulung buchbar. Jetzt mehr erfahren!"
    logo="javascript"
    pattern="1"
  %}
  {% include_relative _schulung.html
    external_link="https://workshops.de/seminare-schulungen-kurse/typescript"
    title="TypeScript"
    subtitle="Intensiv Schulung"
    description="Steige in 3 Tagen intensiv in TypeScript ein. Auch als Inhouse-Schulung buchbar. Jetzt mehr erfahren!"
    logo="typescript"
    pattern="1"
  %}
  {% include_relative _schulung.html
    external_link="https://workshops.de/seminare-schulungen-kurse/html-css-intensiv"
    title="HTML & CSS"
    subtitle="Intensiv Schulung"
    description="In 3 Tagen HTML & CSS lernen. Auch als Inhouse-Schulung buchbar. Jetzt mehr erfahren!"
    logo="html-css"
    pattern="1"
  %}
  {% include_relative _schulung.html
    external_link="https://workshops.de/seminare-schulungen-kurse/frontend-architektur"
    title="Moderne Webentwicklung und Frontend-Architektur"
    subtitle="Intensiv Schulung"
    description="Bekomme in 2 Tagen einen Überblick über moderne Webentwicklung. Auch als Inhouse-Schulung oder Remote buchbar. Jetzt mehr erfahren!"
    logo="frontend-architecture"
    pattern="1"
  %}
</div>