.header {
  position: relative;

  .page-header {
    color: #eee;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .30);
  }

  a:hover {
    color: #4d9de0;
  }

  &.header-default {
    padding-bottom: 10px;
    padding-top: 1px;
    box-shadow: 0px 0px 20px #aaa;
    color: #fff;
  }

  &.header-team, &.header-tutorials {
    background-color: #fcfcfc;
    border-bottom: 1px solid #efefef;
    color: #333;
    padding-bottom: 15px;
    padding-top: 100px;
    margin-bottom: 40px;
  }

  &.header-team, &.header-tutorials {
    padding: $spacer*8 0 $spacer*4;
    margin-bottom: $spacer*4;
  }

  &.header-post {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    background-size: cover;
    background-position: center;
    min-height: 200px;

    .header-post-title {
      margin-top: 40px;
      color: #fff;
      padding-top: 15px;
      font-size: 300%;
      max-width: 40rem;
    }
    .header-post-author {
      margin-bottom: 30px;
    }
  }

  &.header-homepage {
    background-image: linear-gradient(-180deg, #10161E 0%, #243348 100%);
    border-bottom: 1px solid #efefef;
    color: $body-color;
    padding-bottom: 15px;
    padding-top: 100px;
    color: $light;
    padding: $spacer*8 0 $spacer*6;
    height: 100vh;

    .header-homepage-title {
      line-height: 4.5rem;
      font-weight: 600;
    }
  }

}

.header-workshop {
  // color: $light;
  padding-top: 100px;

  .header-intro {
    font-size: 1.4rem
  }


  &.header-workshop-gradient-overlay {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .94;
      background-image: linear-gradient(-180deg, #fefefe 0%, #efefef 100%);
    }
  }
}

.header-workshop {
  background: url('/assets/img/courses/header-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.header-team {
  background: url('/assets/img/headers/team.jpg');
  background-size: cover;
  background-position: center center;
}

@include media-breakpoint-up(sm) {
  .header {
    &.header-post {
      min-height: 400px;
      .text-wrapper {
        position: absolute; bottom: 0; left: 0; right: 0;
      }
    }

    &.header-homepage  .header-homepage-title {
      font-size: 5rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    &.header-post {
      min-height: 300px;
      .text-wrapper {
        position: absolute; bottom: 0; left: 0; right: 0;

      }
      .header-post-title {
        font-size: 200%;
      }
    }

    &.header-homepage .header-homepage-title {
      font-size: 3rem;
      line-height: 3.0rem;
    }
  }
}

// basic settings for headers
.c-header {
  position: relative;
  min-height: 15rem;
}

@include media-breakpoint-up(sm) {
  .c-header {
    min-height: 20rem;
  }
}

@include media-breakpoint-up(md) {
  .c-header {
    min-height: 25rem;
  }
}

// colors
.c-header-light {
  color: $dark;

  h1, h2, h3, h4, h5, h6 {
    color: $dark;
    text-shadow: 1px 1px 0px $light;
  }
}

.c-header-dark {
  color: $light;

  h1, h2, h3, h4, h5, h6 {
    color: $light;
    text-shadow: 1px 1px 0px $dark;
  }
}
