
// img { max-width: 100% !important; }

footer {
  color: #ccc;
  a { color: #999; }
}

// Misc
//==================================================
li code,
p code {
  background-color: $light;
  // border: 1px solid darken($gray-300, 10%);
  border-radius: $border-radius-sm;
  // color: ;
  // font-size: 12px;
  padding: 4px;
}



blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}



/* Scroll with fixed header and anchor tag */
.add-anchor-fixed-header-styles {
  h2, h3 {
    padding-top: 70px; margin-top: -70px;
  }
}

.card-hover-overlay {
  .card-img-overlay {
    display: none;
  }

  &:hover {
    .card-img-overlay {
      display: block;
    }

  }
}

.bg-light-transparent {
  background: rgba(#fff, 0.95);

  &:hover {
    text-decoration: none !important;
  }
}


.c-hover-shadow {
  @extend .shadow-sm;
  transition: all 0.3s ease;
  top: 0;
  &:hover {
    @extend .shadow-lg;
    top: -$spacer * 0.25;
  }
}

.c-post-categories {
  position: absolute;
  left: $spacer;
  top: $spacer;
  display: inline-block;
  border-radius: $border-radius-sm;
  color: $white;
  padding: 2px 5px 3px;
  font-size: 70%;
  background: rgba(41,47,56,0.3);
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  letter-spacing: 0.04em;
  max-width: calc(100% - $spacer*2);
}

.page-item.active {
  .page-link {
    background-color: $primary !important;
  }
}
