.has-navigation-banner {
  padding-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word; // for mobile
}

.c-hover-shadow {
  @extend .shadow-sm;
  transition: all 0.3s ease;
  top: 0;
  &:hover {
    @extend .shadow-lg;
    top: -$spacer * 0.25;
  }
}

.c-post-categories {
  position: absolute;
  left: $spacer;
  top: $spacer;
  display: inline-block;
  border-radius: $border-radius-sm;
  color: $white;
  padding: 2px 5px 3px;
  font-size: 70%;
  background: rgba(41,47,56,0.3);
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  letter-spacing: 0.04em;
  max-width: calc(100% - $spacer*2);
}

.page-item.active {
  .page-link {
    background-color: $primary !important;
    color: $white;
    border-radius: $border-radius-sm;
  }
}

.c-text-sm {
  font-size: $small-font-size;
}

.c-badge-free {
  background-color: #ded;
  color: #060;
  font-weight: 300;
}

.workshop{

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
  }

  .card.events {
    background-clip: border-box;
    border: 1px solid #efefef;
    border-radius: 3px;
  }
}

.c-course-img {
  width: 100%;
  height: 100px;
  max-width: 200px;
  object-fit: contain;
  object-position: top;
}
