.c-navbar-light {
  @extend .navbar-light;
  @extend .fixed-top;
  position: absolute;

  background-color: rgba(#fff, 0);
  transition: background-color 0.3s ease;

  &:hover {
    @extend .navbar-light;
    background-color: rgba(#fff, 1);
  }
}

.c-navbar-dark {
  @extend .navbar-dark;
  @extend .fixed-top;
  position: absolute;

  background-color: rgba(#fff, 0);
  transition: background-color 0.3s ease;

  &:hover {
    @extend .navbar-light;
    background-color: rgba(#fff, 1);
  }
}


.navbar-ajs {
  // background-color: #fff;
  border-bottom: 1px solid #eee;

  .nav-link {
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 6px;
      left: 0;
      background-color: $navbar-light-hover-color;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(0.8);
    }
  }

  .nav-item.active {
    .nav-link:before {
      // background-color: $red;
      visibility: visible;
      transform: scaleX(0.8);
    }
  }
}
