---
layout: base
---

<div class="c-header c-header-dark header-workshop mb-5 shadow-sm">
  <div class="container mt-4">
    <div class="row h-100">
      <div class="col-md-4 d-flex text-center">
        <img class="align-self-center" alt="{{ page.course.topic }} {{ page.course.subtitle }}" src="{{ page.course.image_url }}" title="{{ page.course.topic }} {{ page.course.subtitle }}" width="300">
      </div>
      <div class="col-md-8 d-flex">
          <h1 class="align-self-center display-4 fw-bold m-0">
              {{ page.course.topic }}<br>
              <small class="fw-bold">{{ page.course.subtitle }}</small>
          </h1>
      </div>
    </div>
  </div>
</div>

<main role="main">
  {{ content }}
</main>
